.monthWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    }
    
.monthHeader {
    display: flex;
    width: 80%;
}
    
.monthHeaderCell {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none; 
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    color: rgb(219, 28, 60);
}


.month {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}